{:paths ["src"]
 :deps {}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               io.github.kotoba-lang/amu
                               {:git/url "https://github.com/kotoba-lang/amu.git"
                                :git/sha "dd943e084e8189f4b399b51fe88f1227baba5b1e"}
                               io.github.kotoba-lang/osaho
                               {:git/url "https://github.com/kotoba-lang/osaho.git"
                                :git/sha "fdf407a6645d7d35af8b6fd8ffb69d948bfe2aa8"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                              "--fail-level" "error"]}}}
